html, body {
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, #d8bcf5, #fae5e3, #d8bcf5);
  position: relative;
}

.content {
  background-color: azure;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-areas:
    'header header header header'
    'navbar main right right'
    'footer footer footer footer';
  grid-template-columns: 8% 42% 42% 8%;
  grid-template-rows: 2% 96% 2%;
}

.navbar {
  grid-area: navbar;
  background-color: #000;
  border-radius: 10px;
  width: 70%;
  height: 100%;
  align-items: center;
  align-content: center;
  display: flex;
  margin: auto;
}

